.App {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.clause {
  margin-bottom: 20px;
}

.clause h4 {
  margin-bottom: 10px;
}

.clause ul {
  list-style-type: none;
  padding-left: 0;
}

.clause li {
  margin-bottom: 5px;
}

.mention {
  display: inline-block;
  padding: 2px 5px;
  border-radius: 3px;
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
